<div class="login_form_container">
  <form class="Login_form" method="post" action="/admin/login">
    <h1>Login</h1>
    <label for="adminName">Admin Name</label>
    <br />
    <input
      type="text"
      placeholder="Enter Admin Name"
      name="username"
      id="adminName"
    />
    <br />

    <label for="email">Enter Your Email</label>
    <br />
    <input
      type="email"
      name="email"
      placeholder="Enter Your Email"
      id="email"
    />
    <br />

    <label for="Passwoer">Enter Password</label>
    <br />
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
      id="password"
    />

    <br />
    <input class="btn" type="submit" value="Login" />
  </form>


  <form class="Login_form" method="post" action="/admin/register">
    <h1>Register</h1>
    <label for="adminName">Admin Name</label>
    <br />
    <input
      type="text"
      placeholder="Enter Admin Name"
      name="username"
      id="adminName"
    />
    <br />

    <label for="email">Enter Your Email</label>
    <br />
    <input
      type="email"
      name="email"
      placeholder="Enter Your Email"
      id="email"
    />
    <br />

    <label for="Passwoer">Enter Password</label>
    <br />
    <input
      type="password"
      name="password"
      placeholder="Enter Password"
      id="password"
    />

    <br />
    <input class="btn" type="submit" value="Register" />
  </form>
</div>
