<div class="links">
    <nav class="footer-nave">
        <ul class="footer-ul">
            <li class="footer-link"><a href="/">Home</a></li>
            <li class="footer-link"><a href="/contect">Contect US</a></li>
            <li class="footer-link"><a href="/">About Us</a></li>
            <li class="footer-link"><a href="/">Privicy Policy</a></li>
            <li class="footer-link"><a href="/">Return Policy</a></li>
        </ul>
    </nav>
</div>

<p>Domain name Copyrizght &copy; 2024</p>
