<nav class="order_nav">
    <ul class="order_ul">
        <li class="order-li"><a href="">all Orders</a></li>
        <li class="order-li"><a href="">completed</a></li>
        <li class="order-li"><a href="">panding</a></li>
        <li class="order-li"><a href="">cancel</a></li>
    </ul>
</nav>