.container {
  width: 100%;
  height: 90vh;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .image {
  display: none;
}

.container .image img {
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}

.container .button {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.container .button a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  user-select: none;
}

.container .button .prev {
  border-radius: 0 5px 5px 0;
}

.container .button .next {
  border-radius: 5px 0 0 5px;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 45%;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  height: 30px;
  border-radius: 15px;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #bbb;
  display: inline-block;
  margin: 0 2px;
}

.active,
.dot:hover {
  background: var(--green-color);
}

@media only screen and (max-width: 555px) {
  .container {
    height: auto;
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
